.DS_Store
CKSmileZone.xcworkspace/xcuserdata/Connor.xcuserdatad/UserInterfaceState.xcuserstate
CKSmileZone.xcodeproj/project.xcworkspace/xcuserdata/Connor.xcuserdatad/UserInterfaceState.xcuserstate
CKSmileZone.xcworkspace/xcuserdata/Connor.xcuserdatad/UserInterfaceState.xcuserstate
