<html>
	<head>
		<script type="text/javascript">
		    var latitude;
		    var longitude;
		
		    function a(){
		
		    if (navigator.geolocation)
		     {
		        navigator.geolocation.getCurrentPosition(     
		        function coords(position) {
		            longitude = position.coords.longitude;          
		            latitude = position.coords.latitude;
		            alert("Lat Long is : " + longitude +"," + latitude);
		        }, function (error) {
		            alert("Error: " + error.code);
		        },
		        {
		            enableHighAccuracy : true,     
		            timeout : 10000,                
		            maximumAge : 1000           
		        });
		
		       }
		       else
		       {
		        alert ("GEOLOCATION NOT SUPPORTED....");
		       }
		    }	
	
	    </script>
    </head>
    <body onLoad="a();">
        TESTING GEOLOCATION
        
        <form action = "/submit" method = "post">
			Welcome to SmileZone
			<br>
			<input type="text" name="name" placeholder="Enter your name" />
			<br>
		    <button type="submit">Submit</button>


		</form>

    </body>
    

</html>
