<html>
	
	<form action = "/submit" method = "post"> 
		Welcome to SmileZone
		<br>
		<input type="text" name="name" placeholder="Enter your name" />	
		<br>	
	    <button type="submit">Submit</button>
	</form>
		
</html>