<html>

	<form action = "/submit" method = "post">
		Welcome to SmileZone
		<br>
		<input type="text" name="name" placeholder="Enter your name" />
		<br>
	    <button type="submit">Submit</button>


		<script>

			var latitude;
			navigator.geolocation.getCurrentPosition(GetLocation);
			function GetLocation(location) {
			    //<input type="hidden" name="accuracy" value=location.coords.accuracy>
			    //<input type="hidden" name="latitude" value=location.coords.latitude/>
				console.log("YO");
				latitude = location.coords.latitude;
				console.log(latitude);

				var input = document.createElement("input");
				input.setAttribute("type", "hidden");
				input.setAttribute("name", "lat");
				input.setAttribute("value", "latitude");

			}
			console.log(latitude);
			console.log(lat);

		</script>

	</form>

</html>
