<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smile Zone</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/grayscale.css" rel="stylesheet">

    <link href="/css/custom.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


	<!--Google maps API-->

	<style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
	      </style>
		      <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=API_KEY">
	      </script>
		      <script type="text/javascript">
      function initialize() {
	          var mapOptions = {
			            center: { lat: -34.397, lng: 150.644},
			            zoom: 8
			          };
	          var map = new google.maps.Map(document.getElementById('map-canvas'),
					              mapOptions);
	        }
      google.maps.event.addDomListener(window, 'load', initialize);
	      </script>




	<!-- Send the score to the backend -->
    <script type="text/javascript">
        var latitude;
        var longitude;
        var totalPoints = <%= totalPoints%>

        document.addEventListener('DOMContentLoaded', init, false);
        function init(){
            function pt1 () {
                totalPoints += 1;
                $( "#points" ).html(totalPoints);
                form_send(1);
            }
            function pt2 () {
                totalPoints += 2;
                $( "#points" ).html(totalPoints);
                form_send(2);
            }
            function pt3 () {
                totalPoints += 3;
                $("#points").html(totalPoints);
                form_send(3);
            }
            var btn1 = document.getElementById('pt1');
            btn1.addEventListener('click', pt1, true);
            var btn2 = document.getElementById('pt2');
            btn2.addEventListener('click', pt2, true);
            var btn3 = document.getElementById('pt3');
            btn3.addEventListener('click', pt3, true);

        };

    function form_send(pointAmt){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function coords(position) {
                    longitude = position.coords.longitude;
                    latitude = position.coords.latitude;
                    console.log("Longitude"+longitude);
                    console.log("Latitude"+latitude);

                    $.ajax({
                        type: "POST",
                        url: "/addPoint",
                        data: { long: longitude, lat: latitude, pointValue:pointAmt, total:totalPoints }
                    })
                    .done(function( msg ) {
                     //   alert("DONE");
						//$("#map").append("<div id="map-canvas"></div>");
						//$("#maparea").html("<div id=\"map-canvas\"></div>");
						
						$("<div></div>").attr('id','map-canvas').appendTo('#maparea');
						alert("done");

                    });

                }, function (error) {
                    alert("Error: " + error.code);
                },
                {
                    enableHighAccuracy : true,
                    timeout : 10000,
                    maximumAge : 1000
                });



            } else {
                alert ("GEOLOCATION NOT SUPPORTED....");
            }
        }


        </script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Smile</span> Zone
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#profile">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#smile">Why Smile?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#map1">Map</a>
                    </li>
                    <li>
					<a class="page-scroll" href="http://obiwan.me/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Smile Zone</h1>
                        <p class="intro-text">Welcome <%=user%> !</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Profile Section -->
    <section id="profile" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Log a smile below:</h1>
                    <div class="col-lg-8 col-lg-offset-2">
                        <h3>Total Points:<div id="points"><%=totalPoints%></div> </h3>


                        	<button type="submit" id="pt1" class="btn btn-default ">Add 1 point</button>
                            <br>
                            <br>

                        	<button type="submit" id="pt2" class="btn btn-default ">Add 2 point</button>
                            <br>
                            <br>

                        	<button type="submit" id="pt3" class="btn btn-default ">Add 3 point</button>
                    </div>

            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Smile Zone</h2>
                <p>An app that tracks your smiles and gives you points!</p>
            </div>
        </div>
    </section>


    <!-- Smiles Section -->
    <section id="smile" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Why should you smile?</h2>
                <h3>Videos:</h3>
                <h4>The hidden power of smiling</h4>
                <p>
                    Ron Gutman reviews a raft of studies about smiling, and reveals some surprising results. Did you know your smile can be a predictor of how long you'll live — and that a simple smile has a measurable effect on your overall well-being? Prepare to flex a few facial muscles as you learn more about this evolutionarily contagious behavior.
                </p>
                <iframe width="560" height="315" src="//www.youtube.com/embed/U9cGdRNMdQQ" frameborder="0" allowfullscreen></iframe>
                <br>
                <br>
                <h4>Smiling Can Save Your Life</h4>


                <iframe width="560" height="315" src="//www.youtube.com/embed/1plLYlt9zPM" frameborder="0" allowfullscreen></iframe>

            </div>
        </div>
    </section>


    <!-- map Section -->
    <section id="map1" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Map section</h2>
                <p>The map section is below.</p>
				<div id="map-canvas"> 

				</div>
			</div>
        </div>
	</section>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; SmileZone 2014</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

    <!-- Validate forms -->
    <script src="/js/jqBootstrapValidation.js"></script>



</body>

</html>
