<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smile Zone</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/grayscale.css" rel="stylesheet">

    <link href="/css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- CSS For google maps -->

    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_pbaf11tD5KFZ454nhaR7jC99sC4_JMM">
    </script>
    <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/geolocationmarker/src/geolocationmarker-compiled.js"></script>


    <!-- Setup when DOM loads -->
    <script type="text/javascript">
        var latitude = 0;
        var longitude = 0;
        var totalPoints = <%= totalPoints%>
        var map;
        document.addEventListener('DOMContentLoaded', init, false);
            function init(){
                get_gps();
                load_binds();
                checkbox();
				load_notes();
            }
            function form_send(pointAmt,notes,latitude,longitude){
	            if (notes == "Add notes about your smile here."){
					notes = "";
	            } 
                $.ajax({
                    type: "POST",
                    url: "/addPoint",
                    data: { longitude: longitude, latitude: latitude, pointValue:pointAmt, total:totalPoints, notes:notes }
                })
                .done(function( msg ) {
					$("#notebox_area").val("");

					 $("#note_submitted")
					 .hide()
					 .html("<h6>Successfully submitted</h6>")
					 .prependTo("#note_submitted")
					 .fadeIn(1500);
                });
            }
            
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-57555816-1', 'auto');
            ga('send', 'pageview');
    

            
        </script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Smile</span> Zone
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#profile">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#map1">map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#instructions">How to play?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#smile">Why Smile?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://smiil.es/logout">logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Smile Zone</h1>
                        <p class="intro-text">Welcome <%=user%> !</p>
                        <a href="#profile" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Profile Section -->
    <section id="profile" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Log a smile below:</h1>
                <h3>Total Points:<div id="points"><%=totalPoints%></div></h3>
				
				
				 <div class="col-xs-12 info"> 
                    <button type="submit" id="note"  class="btn1 btn2 ">Add note</button>
                </div>
				<div id="notebox" style="display: none;"> 
                	<br>
                	<textarea name="notebox_area" id = "notebox_area" cols="25" rows="5">Add notes about your smile here.</textarea>
                	
                	
                </div>
                
                
                <div class="notepadding" id="note_submitted"> 
                
                </div>

                <div class="col-xs-6 info">
                    <br>
                    Eye Contact
                    <br>
                    <button type="submit" id="pt1" class="btn1 btn2">Add 1 point</button>
                </div>


                <div class="col-xs-6 info">
                    <br>
                    Head nod
                    <br>
                    <button type="submit" id="pt2" class="btn1 btn2">Add 2 points</button>
                </div>
                <div class="col-xs-6 info">
                    <br>
                    Smile
                    <br>
                    Back
                    <br>
                    <button type="submit" id="pt3" class="btn1 btn2 ">Add 3 points</button>
                </div>
                <div class="col-xs-6 info">
                    <br>
                    Verbal
                    <br>
                    Greeting
                    <br>
                    <button type="submit" id="pt5"  class="btn1 btn2 ">Add 5 points</button>
                </div>
				<br>
               
            </div>
        </div>
    </section>

    <!-- map Section -->
    <section id="map1" class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br>
                <h2>Map</h2>
                <div id="ip"> </div>
                <button type="submit" id="last10" class="btn1 btn2 ">View last 10 smile spots</button>
                <div id="map"></div>
				
				<!--Notes section goes here -->
				<h5>Notes:</h5>
				<div id = "notes"> </div>

            </div>
        </div>
    </section>


    <!-- Instructions Section -->
    <section id="instructions" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>How Smile Zone works?</h2>
                <p>This website is all about getting people to smile more.  Smiles help bring happiness to everyone involved!</p>
                <p>To play all you have to do is smile at random strangers.  If a stranger smiles back at you then you can log points.  Depending on their reaction you get different point amounts.</p>
                <h4>Rules</h4>

                <p>To get one point the stranger must acknowledge that you have smiled at them.</p>
                <p>To get two points the stranger nods back at you.</p>
                <p>To get three points the stranger has to smile back.</p>
                <p>To get five points the stranger has to say something verbally such as "Hello".</p>

            </div>
        </div>
    </section>

    <!-- Smiles Section -->
    <section id="smile" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Why should you smile?</h2>
                <h3>Videos:</h3>
                <h4>The hidden power of smiling</h4>
                <p>
                    Ron Gutman reviews a raft of studies about smiling, and reveals some surprising results. Did you know your smile can be a predictor of how long youll live — and that a simple smile has a measurable effect on your overall well-being? Prepare to flex a few facial muscles as you learn more about this evolutionarily contagious behavior.
                </p>

                <div class="auto-resizable-iframe">
                    <div>
                        <iframe
                            frameborder="0"
                            allowfullscreen=""
                            src="http://www.youtube.com/embed/U9cGdRNMdQQ">
                        </iframe>
                    </div>
                </div>
                <br>
                <br>
                <h4>Smiling Can Save Your Life</h4>

                <div class="auto-resizable-iframe">
                    <div>
                        <iframe
                            frameborder="0"
                            allowfullscreen=""
                            src="http://www.youtube.com/embed/1plLYlt9zPM">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Footer -->
    <footer>
        <div class="container text-center">
                    <p><a href="https://interfacelift.com/user/109285/youen_california.html">Youen California</a></p>
                    
            <p>Copyright &copy; SmileZone 2014</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

    <!-- Validate forms -->
    <script src="/js/jqBootstrapValidation.js"></script>

    <script src="/js/custom/buttons.js"></script>

    <script src="/js/custom/maps.js"></script>
    <script src="/js/custom/notes.js"></script>



</body>

</html>
